<!doctype html>
<html lang="{{lang|translate}}">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<title>Glamorous Weddings in Italy</title>
	<meta name="description" content="Glamorous Weddings in Italy" />

	<meta property="og:url" content="http://glamorousweddingsinitaly.com" />
	<meta property="og:description" content="Sandra Colamedici Wedding Planner" />
	<meta property="og:title" content="Glamorous Weddings in Italy" />
	<meta property="og:image" content="http://glamorousweddingsinitaly.com/images/backgrounds/1-small.jpg" />

	<link href="http://fonts.googleapis.com/css?family=Pacifico%7CEB+Garamond" rel='stylesheet' type='text/css'>
	<link rel="stylesheet" href="/css/style.css">
	<link rel="canonical" href="glamorousweddingsinitaly.com">

	@@include('./tmp/svg.svg')
</head>
<body>
	@@include('./partials/analytics.html')
	@@include('./partials/json-ld.html')
	<header class="header header--home">
		<input type="checkbox" id="header__toggle" class="header__toggle">
		<nav class="header__nav">
			<ul>
				<li><a class="header__nav--active" href="#home">Home</a></li>
				<li><a href="#{{about|translate|lowercase}}">{{about|translate}}</a></li>
				<li><a href="#{{weddings|translate|lowercase}}">{{weddings|translate}}</a></li>
				<li><a href="#{{events|translate|lowercase}}">{{events|translate}}</a></li>
				<li><a href="#gallery">gallery</a></li>
				<li><a href="#{{contacts|translate|lowercase}}">{{contacts|translate}}</a></li>
			</ul>
		</nav>
		<span class="header__logo">Glamorous Weddings in Italy</span>
		<label for="header__toggle" class="header__trigger">
			<svg><use xlink:href="#icon-toggle"></use></svg>
		</label>
	</header>

	<main class="main-content">
		<div id="home" class="hero panel__fixed panel__fixed--1">
			<h1>...{{title_1|translate}} <span>{{title_2|translate}} </span>{{title_3|translate}}...</h1>
		</div>

		@@include('./partials/about.html')

		<div class="panel__fixed panel__fixed--2 panel__fixed--half">
			<h2><span>Sandra Colamedici</span>Wedding Planner</h2>
		</div>

		@@include('./partials/weddings.html')

		<div class="panel__fixed panel__fixed--3 panel__fixed--half">
			<h2><span>Where the Magic happens</span></h2>
		</div>

		@@include('./partials/events.html')

		<div class="panel__fixed panel__fixed--4 panel__fixed--half"></div>

		@@include('./partials/gallery.html')

		<div class="panel__fixed panel__fixed--5 panel__fixed--half"></div>

		@@include('./partials/contact.html')

	</main>
	<script src="http://code.jquery.com/jquery-2.1.4.min.js"></script>
	<script src="https://cdn.rawgit.com/lokesh/lightbox2/v2.8.1/dist/js/lightbox.min.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
	<script src="https://cdn.rawgit.com/hpneo/gmaps/0.4.21/gmaps.min.js"></script>
	<script src="/js/main.js"></script>
</body>
</html>