<div id="about" class="about panel__scroll panel__scroll--2">
	<div class="content">
		<div class="about__intro">
			<img src="./images/portrait.png">
			<p>"I have always loved hosting friends and family at home. Making them feel like precious guests and turn their time with us into unforgettable memories has always been essential to me.</p>
			<p>Dinners, parties and family weddings rich with warmth, flowers, elegant and original tables have always filled my heart with joy. Sharing the important moments of life is my mantra."</p>
		</div>
		<input type="checkbox" id="about__toggle" class="about__toggle">
		<div class="about__more">
			<section class="content--column">
				<p>Sandra Colamedici was born and lives in the enchanting town of Civita Castellana, at the heart of the Tuscia Viterbese region. Famous for its 12th century cathedral and the medieval centre, Civita is the ideal spot to enjoy central Italy. Rome is just one stone’s throw away, as are the medieval town of Viterbo e the calm and green region of Umbria.</p>
				<p>Wedding &amp; Event Planner for passion and natural inclination, Sandra lives with her husband in her early twentieth century country house, which she recently renewed to make it the perfect venue for an unforgettable wedding.</p>
				<p>Over the past few months, Sandra felt the need to go back to school and turn her passion into a proper job by attending Wedding Planner workshops and courses with some of the most renowned professionals in Italy.</p>
				<p>Attracted by the creative opportunities behind florist artworks, she also joined top-notch Flower Art &amp; Design classes.</p>
				<p>Lover of the good life and at the forefront of new fashion trends, Sandra has also been a Sommelier AIS since 1999.</p>
				<p>Elegance and attention to details are her weddings’ watchwords, which will make your party an exclusive, unique and unforgettable event!</p>
				<p>Thanks to her outstanding organisational skills and her sparkling personality, Sandra will be able to lead you step by step through the realisation of your dream.</p>
			</section>
		</div>
		<label for="about__toggle" class="about__trigger">
			Show <span class="about__trigger--more">more</span><span class="about__trigger--less">less</span>
			<svg><use xlink:href="#icon-arrow"></use></svg>
		</label>
	</div>
</div>