<div id="{{about|translate|lowercase}}" class="about panel__scroll panel__scroll--2">
	<div class="content">
		<div class="about__intro">
			<img src="/images/portrait.png">
			{{about_intro|translate}}
		</div>
		<input type="checkbox" id="about__toggle" class="about__toggle">
		<div class="about__more">
			<section class="content--column">
				{{about_description|translate}}
			</section>
		</div>
		<label for="about__toggle" class="about__trigger">
			{{show|translate}} <span class="about__trigger--more">{{more|translate}}</span><span class="about__trigger--less">{{less|translate}}</span>
			<svg><use xlink:href="#icon-arrow"></use></svg>
		</label>
	</div>
</div>