<div id="about" class="about panel__scroll panel__scroll--2">
	<div class="content">
		<div class="about__intro">
			<img src="./images/portrait.png">
			<p>"Il piacere di ricevere a casa, di far sentire l'ospite un prezioso invitato, di far in modo che tutti i dettagli, i particolari e i momenti della festa rimangano indelebili nella mente, sono sempre stati la mia Passione. Cene, feste e matrimoni di famiglia ricchi di allegria e calore, di fiori, di tavole elegantemente imbandite  con qualche tocco di originalità, senza nulla lasciare al caso, mi hanno sempre riempito il cuore e la voglia e la filosofia della  condivisione sono la mia ragione di vita"</p>
		</div>
		<input type="checkbox" id="about__toggle" class="about__toggle">
		<div class="about__more">
			<section class="content--column">
				<p>Sandra Colamedici nasce e vive nella bella cittadina di Civita Castellana  nella Tuscia Viterbese, posto ideale per godere della provincia Laziale, a due passi dalla splendida Roma, la medievale Viterbo e al limitare della tranquilla e verde Umbria, tutti luoghi incantevoli per far da sfondo ad eventi e Matrimoni da ricordare.</p>
				<p>Wedding &amp; Event Planner per passione quindi, e per inclinazione naturale, Sandra vive con il marito nel suo bel Casale di campagna dei primi del '900 appena ristrutturato, dove insieme amano ricevere ed organizzare feste per amici e parenti.</p>
				<p>Da qualche anno ha sentito l'esigenza di ampliare le sue conoscenze e trasformare la sua passione  in professione e ha quindi frequentato corsi di formazione per Wedding Planner presso prestigiosi professionisti del settore, specializzandosi nel <span>Destination Wedding</span> e, affascinata della <span>Bellezza</span> degli allestimenti floreali, partecipa costantemente a corsi di aggiornamento nel campo del Flower Art &amp; Design coi i nomi più affermati.</p>
				<p>Amante del buon gusto, sempre attratta dalle novità, aggiornatissima sulle tendenze di moda, cultura e design;  amante del cibo e del <span>bon vivre</span> è Sommelier AIS dal 1999 , lei  vi saprà ascoltare e, secondo i vostri desideri, indirizzare nella scelta guidandovi  nella realizzazione del vostro evento <span>Tailored made</span>.</p>
				<p>I matrimoni di Sandra si riconoscono per la sobrietà  e la cura del dettaglio, quasi maniacale, che trasforma una semplice festa in un evento Unico ed Esclusivo... da ricordare!</p>
				<p>Dotata di grandi capacità organizzative e di una personalità vivace e creativa vi accompagnerà passo dopo passo nella realizzazione del vostro Sogno.</p>
			</section>
		</div>
		<label for="about__toggle" class="about__trigger">
			Show <span class="about__trigger--more">more</span><span class="about__trigger--less">less</span>
			<svg><use xlink:href="#icon-arrow"></use></svg>
		</label>
	</div>
</div>