<div id="contact" class="contact panel__scroll panel__scroll--1">
	<div class="content">
		<div class="contact__info">
			<h3>Contattami</h3>
			<p><a href="mailto://sandra@glamorousweddingsinitaly.com">sandra@glamorousweddingsinitaly.com</a></p>
			<p><a>+39 3394721430</a></p>
			<div class="contact__info__adress">
				<p>Agenzia Wedding Planner</p>
				<p><span>Glamorous Weddings in Italy</span></p>
				<p>Via Gargarasi, 24</p>
				<p>Civita Castellana (VT)</p>
			</div>
		</div>
		<form class="contact__form" action="mailer.php" method="POST">
			<div class="contact__input">
				<label for="name">Nome *</label>
				<input type="text" id="name" name="name" required>
			</div>
			<div class="contact__input">
				<label for="email">Email *</label>
				<input type="text" id="email" name="email" required>
			</div>
			<div class="contact__input">
				<label for="phone">Telefono</label>
				<input type="text" id="phone" name="phone">
			</div>
			<div class="contact__input">
				<label for="message">Messaggio *</label>
				<input type="text" id="message" name="message" required>
			</div>
			<input class="contact__submit" type="submit" value="Invia">
			<p class="contact__form__feedback--ok">Messaggio inviato, grazie!</p>
			<p class="contact__form__feedback--ko">C'è stato un problem, riprova :)</p>
		</form>
	</div>
	<div id="contact__map"></div>
</div>