<div id="contact" class="contact panel__scroll panel__scroll--1">
	<div class="content">
		<h3>Contact Us</h3>
		<p>Don't be shy, ask us everything.</p>
		<form action="action.php" method="POST" autocomplete="off">
			<div class="rsvp__input">
				<label for="name">Name</label>
				<input type="text" id="name" name="name">
			</div>
			<div class="rsvp__input">
				<label for="email">Email</label>
				<input type="text" id="email" name="email">
			</div>
			<div class="rsvp__input">
				<label for="phone">Phone</label>
				<input type="text" id="phone" name="phone">
			</div>
			<div class="rsvp__input">
				<label for="message">Message</label>
				<input type="text" id="message" name="message">
			</div>
			<input class="rsvp__submit" type="submit" value="Invia">
		</form>
		<p class="center">- or -</p>
		<p class="contact__email"><a href="mailto://sandra@glamorousweddingsinitaly.com">sandra@glamorousweddingsinitaly.com</a></p>
		<p class="contact__email"><a>+39 3394721430</a></p>
	</div>
</div>
<!-- indirizzo agenzia WP ‘Glamorous Weddings in Italy’ – Civita Castellana VT, via Gargarasi 24. -->