<div id="eventi" class="location panel__scroll panel__scroll--2">
	<div class="content content--special">
		<h3>Eventi</h3>
		<section class="content__column content__column--left">
			<ul>
				<li>Battesimi,</li>
				<li>Compleanni,</li>
				<li>Comunioni,</li>
				<li>Cresime,</li>
				<li>...</li>
			</ul>
			<p>Sandra saprà rendere unica, elegante e divertente ogni occasione.</p>
			<img src="./images/about-1.jpg">
		</section>
		<section class="content__column">
			<img src="./images/about-2.jpg">
			<h4>Workshop &amp; Eventi Aziendali</h4>
			<p>Sia che si tratti di un evento culturale che di una sfilata di moda oppure di  un workshop della vostra azienda sapremo realizzare al meglio e secondo le vostre aspirazioni, lo studio del luogo, del budget e la sua attuazione con classe, rigore e professionalità.</p>
		</section>
	</div>
</div>