<div id="eventi" class="location panel__scroll panel__scroll--2">
	<div class="content">
		<h3>Eventi</h3>
		<section>
			<p><span>Battesimi</span>, <span>Compleanni</span>, <span>Comunioni</span>, <span>Cresime</span>, etc... Sandra saprà rendere unica, elegante e divertente ogni occasione.</p>
		</section>
		<section class="content--column">
			<img src="./images/about-1.jpg">
			<img src="./images/about-2.jpg">
		</section>
		<section class="eventi__workshop">
			<h4>Workshop &amp; <span>Eventi Aziendali</span></h4>
			<p>Sia che si tratti di un evento culturale che di una sfilata di moda oppure di  un workshop della vostra azienda sapremo realizzare al meglio e secondo le vostre aspirazioni, lo studio del luogo, del budget e la sua attuazione con classe, rigore e professionalità.</p>
		</section>
	</div>
</div>