<div id="events" class="events panel__scroll panel__scroll--2">
	<div class="content">
		<h3>Events</h3>
		<section>
			<p><span>Christenings</span>, <span>birthdays</span>, <span>confirmations</span>... Sandra will make every occasion unique, elegant and fun.</p>
		</section>
		<section class="content--column">
			<img src="./images/about-1.jpg">
			<img src="./images/about-2.jpg">
		</section>
		<section class="events__workshop">
			<h4>Workshop &amp; <span>Office Events</span></h4>
			<p>Sandra and her team offer their help with organising a wide array of events ranging from cultural and fashion workshops to office and team building events. Starting from setting a budget to taking care of details, nothing will be left to chance.</p>
		</section>
	</div>
</div>