<div id="gallery" class="gallery panel__scroll panel__scroll--2">
	<div class="content">
		<h3>Gallery</h3>
	</div>
	<section>
		<div>
			<a href="/images/gallery/wedding_1.jpg" data-title="Wedding 1" data-lightbox="gallery">
				<img src="/images/gallery/wedding_1.jpg">
			</a>
		</div>
		<div>
			<a href="/images/gallery/wedding_2.jpg" data-title="Wedding 2" data-lightbox="gallery">
				<img src="/images/gallery/wedding_2.jpg">
			</a>
		</div>
		<div>
			<a href="/images/gallery/wedding_3.jpg" data-title="Wedding 3" data-lightbox="gallery">
				<img src="/images/gallery/wedding_3.jpg">
			</a>
		</div>
		<div>
			<a href="/images/gallery/wedding_4.jpg" data-title="Wedding 4" data-lightbox="gallery">
				<img src="/images/gallery/wedding_4.jpg">
			</a>
		</div>
		<div>
			<a href="/images/gallery/wedding_5.jpg" data-title="Wedding 5" data-lightbox="gallery">
				<img src="/images/gallery/wedding_5.jpg">
			</a>
		</div>
		<div>
			<a href="/images/gallery/wedding_6.jpg" data-title="Wedding 6" data-lightbox="gallery">
				<img src="/images/gallery/wedding_6.jpg">
			</a>
		</div>
		<div>
			<a href="/images/gallery/wedding_7.jpg" data-title="Wedding 7" data-lightbox="gallery">
				<img src="/images/gallery/wedding_7.jpg">
			</a>
		</div>
		<div>
			<a href="/images/gallery/wedding_8.jpg" data-title="Wedding 8" data-lightbox="gallery">
				<img src="/images/gallery/wedding_8.jpg">
			</a>
		</div>
		<div>
			<a href="/images/gallery/wedding_9.jpg" data-title="Wedding 9" data-lightbox="gallery">
				<img src="/images/gallery/wedding_9.jpg">
			</a>
		</div>
		<div>
			<a href="/images/gallery/wedding_10.jpg" data-title="Wedding 10" data-lightbox="gallery">
				<img src="/images/gallery/wedding_10.jpg">
			</a>
		</div>
		<div>
			<a href="/images/gallery/wedding_11.jpg" data-title="Wedding 11" data-lightbox="gallery">
				<img src="/images/gallery/wedding_11.jpg">
			</a>
		</div>
		<div>
			<a href="/images/gallery/wedding_12.jpg" data-title="Wedding 12" data-lightbox="gallery">
				<img src="/images/gallery/wedding_12.jpg">
			</a>
		</div>
		<div>
			<a href="/images/gallery/wedding_13.jpg" data-title="Wedding 13" data-lightbox="gallery">
				<img src="/images/gallery/wedding_13.jpg">
			</a>
		</div>
		<div>
			<a href="/images/gallery/wedding_14.jpg" data-title="Wedding 14" data-lightbox="gallery">
				<img src="/images/gallery/wedding_14.jpg">
			</a>
		</div>
		<div>
			<a href="/images/gallery/wedding_15.jpg" data-title="Wedding 15" data-lightbox="gallery">
				<img src="/images/gallery/wedding_15.jpg">
			</a>
		</div>
	</section>
</div>