<div id="gallery" class="gallery panel__scroll panel__scroll--2">
	<div class="content">
		<h3>Gallery</h3>
	</div>
	<section>
		<div>
			<a href="images/gallery/wedding_1.jpeg" data-title="Wedding 1" data-lightbox="gallery">
				<img src="images/gallery/wedding_1.jpeg">
			</a>
		</div>
		<div>
			<a href="images/gallery/wedding_2.jpeg" data-title="Wedding 2" data-lightbox="gallery">
				<img src="images/gallery/wedding_2.jpeg">
			</a>
		</div>
		<div>
			<a href="images/gallery/wedding_3.jpeg" data-title="Wedding 3" data-lightbox="gallery">
				<img src="images/gallery/wedding_3.jpeg">
			</a>
		</div>
		<div>
			<a href="images/gallery/wedding_4.jpeg" data-title="Wedding 4" data-lightbox="gallery">
				<img src="images/gallery/wedding_4.jpeg">
			</a>
		</div>
		<div>
			<a href="images/gallery/wedding_5.jpeg" data-title="Wedding 5" data-lightbox="gallery">
				<img src="images/gallery/wedding_5.jpeg">
			</a>
		</div>
		<div>
			<a href="images/gallery/wedding_6.jpeg" data-title="Wedding 6" data-lightbox="gallery">
				<img src="images/gallery/wedding_6.jpeg">
			</a>
		</div>
		<div>
			<a href="images/gallery/wedding_7.jpeg" data-title="Wedding 7" data-lightbox="gallery">
				<img src="images/gallery/wedding_7.jpeg">
			</a>
		</div>
		<div>
			<a href="images/gallery/wedding_8.jpeg" data-title="Wedding 8" data-lightbox="gallery">
				<img src="images/gallery/wedding_8.jpeg">
			</a>
		</div>
		<div>
			<a href="images/gallery/wedding_9.jpeg" data-title="Wedding 9" data-lightbox="gallery">
				<img src="images/gallery/wedding_9.jpeg">
			</a>
		</div>
		<div>
			<a href="images/gallery/wedding_10.jpeg" data-title="Wedding 10" data-lightbox="gallery">
				<img src="images/gallery/wedding_10.jpeg">
			</a>
		</div>
		<div>
			<a href="images/gallery/wedding_11.jpeg" data-title="Wedding 11" data-lightbox="gallery">
				<img src="images/gallery/wedding_11.jpeg">
			</a>
		</div>
		<div>
			<a href="images/gallery/wedding_12.jpeg" data-title="Wedding 12" data-lightbox="gallery">
				<img src="images/gallery/wedding_12.jpeg">
			</a>
		</div>
		<div>
			<a href="images/gallery/wedding_13.jpeg" data-title="Wedding 13" data-lightbox="gallery">
				<img src="images/gallery/wedding_13.jpeg">
			</a>
		</div>
		<div>
			<a href="images/gallery/wedding_14.jpeg" data-title="Wedding 14" data-lightbox="gallery">
				<img src="images/gallery/wedding_14.jpeg">
			</a>
		</div>
		<div>
			<a href="images/gallery/wedding_15.jpeg" data-title="Wedding 15" data-lightbox="gallery">
				<img src="images/gallery/wedding_15.jpeg">
			</a>
		</div>
	</section>
</div>