<script type="application/ld+json">
{
	"@context": "http://schema.org",
	"@type": "Person",
	"name": "Sandra Colamedici",
	"jobTitle": "Wedding Planner",
	"worksFor": {
		"@type": "Organization",
		"legalName": "Glamorous Weddings in Italy",
		"name": "Wedding Planner Agency",
		"url": "http://glamorousweddingsinitaly.com",
		"telephone": "+39 3394721430",
		"address": {
			"@type": "PostalAddress",
			"addressRegion": "VT",
			"streetAddress": "Via Gargarasi, 24",
			"addressLocality": "Civita Castellana",
			"addressCountry": "Italy"
		}
	},
	"email": "mailto:sandra@glamorousweddingsinitaly.com",
	"image": "http://glamorousweddingsinitaly.com/images/portrait.png",
	"address": {
		"@type": "PostalAddress",
		"addressRegion": "VT",
		"streetAddress": "Via Gargarasi, 24",
		"addressLocality": "Civita Castellana",
		"addressCountry": "Italy"
	},
	"url": [
		"http://glamorousweddingsinitaly.com"
	]
}
</script>