<div id="matrimoni" class="matrimoni panel__scroll panel__scroll--2">
	<div class="content content--special">
		<h3>Matrimoni</h3>
		<section>
			<p>Tradizionali o Simbolici, Civili e di ogni confessione religiosa ed orientamento sessuale, Sandra  vi accompagnerà nella scelta del tema, del luogo, dei migliori fornitori e professionisti della zona nel settore:</p>
		</section>
		<div class="matrimoni__servizi">
			<div>
				<div class="matrimoni__servizi__img"><img src="./icons/cake.png" /></div>
				<p>Banqueting &amp; Catering</p>
			</div>
			<div>
				<div class="matrimoni__servizi__img"><img src="./icons/bunch.png" /></div>
				<p>Flower Design</p>
			</div>
			<div>
				<div class="matrimoni__servizi__img"><img src="./icons/heart.png" /></div>
				<p>Stampa Partecipazioni</p>
			</div>
			<div>
				<div class="matrimoni__servizi__img"><img src="./icons/camera.png" /></div>
				<p>Foto</p>
			</div>
			<div>
				<div class="matrimoni__servizi__img"><img src="./icons/champagne.png" /></div>
				<p>Party</p>
			</div>
			<div>
				<div class="matrimoni__servizi__img"><img src="./icons/ring.png" /></div>
				<p>... e ogni altro dettaglio</p>
			</div>
		</div>
		<p>Inoltre vi guiderà nel disbrigo delle pratiche e della ospitalità dei vostri invitati.</p>
	</div>
</div>