<div id="{{weddings|translate|lowercase}}" class="weddings panel__scroll panel__scroll--2">
	<div class="content">
		<h3>{{weddings|translate}}</h3>
		<section>
			{{weddings_intro|translate}}
		</section>
		<section class="weddings__servizi">
			<div>
				<div class="weddings__icon">
					<svg><use xlink:href="#icon-catering"></use></svg>
				</div>
				<span>Banqueting &amp; Catering</span>
			</div>
			<div>
				<div class="weddings__icon">
					<svg><use xlink:href="#icon-flower"></use></svg>
				</div>
				<span>Flower Design</span>
			</div>
			<div>
				<div class="weddings__icon">
					<svg><use xlink:href="#icon-invite"></use></svg>
				</div>
				<span>{{invitation|translate}}</span>
			</div>
			<div>
				<div class="weddings__icon">
					<svg><use xlink:href="#icon-camera"></use></svg>
				</div>
				<span>{{photo|translate}}</span>
			</div>
			<div>
				<div class="weddings__icon">
					<svg><use xlink:href="#icon-location"></use></svg>
				</div>
				<span>Location</span>
			</div>
			<div>
				<div class="weddings__icon">
					<svg><use xlink:href="#icon-hotel"></use></svg>
				</div>
				<span>{{hospitality|translate}}</span>
			</div>
			<div>
				<div class="weddings__icon">
					<svg><use xlink:href="#icon-list"></use></svg>
				</div>
				<span>{{papers|translate}}</span>
			</div>
			<div>
				<div class="weddings__icon">
					<svg><use xlink:href="#icon-ring"></use></svg>
				</div>
				<span>{{everythingelse|translate}}...</span>
			</div>
		</section>
	</div>
</div>