<div id="weddings" class="weddings panel__scroll panel__scroll--2">
	<div class="content">
		<h3>Weddings</h3>
		<section>
			<p>Whether your wedding reception takes place after a religious or civil ceremony, Sandra will be help you choose your theme and location as well as put you in touch with the best caterers, florists, designers and photographers of the area and will be glad to help you arrange travel and accommodation for your guests.</p>
		</section>
		<section class="weddings__servizi">
			<div>
				<div class="weddings__icon">
					<svg><use xlink:href="#icon-catering"></use></svg>
				</div>
				<span>Banqueting &amp; Catering</span>
			</div>
			<div>
				<div class="weddings__icon">
					<svg><use xlink:href="#icon-flower"></use></svg>
				</div>
				<span>Flower Design</span>
			</div>
			<div>
				<div class="weddings__icon">
					<svg><use xlink:href="#icon-invite"></use></svg>
				</div>
				<span>Invitation Printing</span>
			</div>
			<div>
				<div class="weddings__icon">
					<svg><use xlink:href="#icon-camera"></use></svg>
				</div>
				<span>Photo</span>
			</div>
			<div>
				<div class="weddings__icon">
					<svg><use xlink:href="#icon-location"></use></svg>
				</div>
				<span>Location</span>
			</div>
			<div>
				<div class="weddings__icon">
					<svg><use xlink:href="#icon-hotel"></use></svg>
				</div>
				<span>Hospitality</span>
			</div>
			<div>
				<div class="weddings__icon">
					<svg><use xlink:href="#icon-list"></use></svg>
				</div>
				<span>Papers</span>
			</div>
			<div>
				<div class="weddings__icon">
					<svg><use xlink:href="#icon-ring"></use></svg>
				</div>
				<span>and everything else ...</span>
			</div>
		</section>
	</div>
</div>