<div id="matrimoni" class="weddings panel__scroll panel__scroll--2">
	<div class="content">
		<h3>Matrimoni</h3>
		<section>
			<p>Tradizionali o Simbolici, Civili e di ogni confessione religiosa ed orientamento sessuale, Sandra  vi accompagnerà nella scelta del tema, del luogo, dei migliori fornitori e professionisti della zona nel settore:</p>
		</section>
		<section class="weddings__servizi">
			<div>
				<div class="weddings__icon">
					<svg>
						<use xlink:href="#icon-catering"></use>
					</svg>
				</div>
				<span>Banqueting &amp; Catering</span>
			</div>
			<div>
				<div class="weddings__icon">
					<svg>
						<use xlink:href="#icon-flower"></use>
					</svg>
				</div>
				<span>Flower Design</span>
			</div>
			<div>
				<div class="weddings__icon">
					<svg>
						<use xlink:href="#icon-invite"></use>
					</svg>
				</div>
				<span>Stampa Partecipazioni</span>
			</div>
			<div>
				<div class="weddings__icon">
					<svg>
						<use xlink:href="#icon-camera"></use>
					</svg>
				</div>
				<span>Foto</span>
			</div>
			<div>
				<div class="weddings__icon">
					<svg>
						<use xlink:href="#icon-location"></use>
					</svg>
				</div>
				<span>Location</span>
			</div>
			<div>
				<div class="weddings__icon">
					<svg>
						<use xlink:href="#icon-hotel"></use>
					</svg>
				</div>
				<span>Ospitalità</span>
			</div>
			<div>
				<div class="weddings__icon">
					<svg>
						<use xlink:href="#icon-list"></use>
					</svg>
				</div>
				<span>Burocrazia</span>
			</div>
			<div>
				<div class="weddings__icon">
					<svg>
						<use xlink:href="#icon-ring"></use>
					</svg>
				</div>
				<span>e ogni altro dettaglio ...</span>
			</div>
		</section>
	</div>
</div>