.about {
	p {
		margin-bottom: 10px;
	}
	span {
		font-style: italic;
	}
}

.about__intro {
	font-style: italic;
	margin-bottom: 2em;
	img {
		border-radius: 100%;
		float: left;
		margin: 0 20px 0 0;
		width: 150px;
		@include MQ(M) {
			width: 200px;
		}
	}
}

.about__more {
	max-height: 0;
	overflow: hidden;
	transition: max-height 1s;
}

.about__toggle {
	display: none;
	&:checked + .about__more {
		max-height: 1000px;
	}
	&:checked ~ .about__trigger {
		.about__trigger--more {
			display: none;
		}
		.about__trigger--less {
			display: inline-block;
		}
		svg {
			transform: rotate(270deg);
		}
	}
}

.about__trigger {
	cursor: pointer;
	float: right;
	&:hover {
		color: $color-3;
	}
	svg {
		fill: currentColor;
		height: 13px;
		margin-left: 7px;
		transform: rotate(90deg);
		transition: transform 1s ease;
		vertical-align: middle;
		width: 13px;
	}
	span {
		font-style: normal;
	}
}

.about__trigger--less {
	display: none;
}
