.contact__info,
.contact__form {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	@media screen and (min-width: 550px) {
		width: 50%;
	}
}

.contact__form {
	margin: 30px auto;
	overflow: hidden;
}

.contact__info span {
	font-weight: bold;
}

.contact__input {
	display: block;
	label {
		display: inline-block;
		text-transform: uppercase;
	}
	input {
		background-color: transparent;
		border: none;
		border-bottom: 1px dashed currentColor;
		color: $color-2;
		font-size: 25px;
		height: 30px;
		outline: none;
		width: 100%;
		&:focus {
			border-bottom: 1px dashed currentColor;
			color: $color-3;
		}
	}
}

.contact__submit {
	background-color: $color-3;
    border: none;
    border-radius: 10px;
	box-shadow: 0px 3px 0px #d6a0ad;
	color: $color-1;
	cursor: pointer;
	float: right;
    font-size: 20px;
    margin-top: 30px;
    padding: 15px 50px;
    &:hover {
		background-color: $color-2;
		box-shadow: 0px 3px 0px $color-3;
    }
}

.contact__form__feedback--ok,
.contact__form__feedback--ko {
	display: none;
}
.contact__form--ok .contact__form__feedback--ok,
.contact__form--ko .contact__form__feedback--ko {
	display: block;
}

#contact__map {
	height: 480px;
	margin: 40px 0;
	width: 100%;
	@media screen and (max-width: 450px) {
		height: 250px;
	}
	.title {
		color: $color-1;
		font-family: $special-font;
		font-size: 15px;
	}
}
