.events {
	img {
		border-radius: 10px;
		float: left;
		margin: 20px 0 0 20px;
		width: 90%;	
	}
	span {
		font-weight: bold;
	}
}

.events__workshop {
	margin-top: 2em;
	h4 {
		line-height: 1;
		margin-bottom: 10px;
		@media screen and (max-width: 450px) {
			span {
				display: block;
				font-weight: normal;
			}
		}
	}
}
