.hero {
	background-repeat: no-repeat;
	width: 100%;

	@media screen and (min-width: 1024px) {
		background-image: url("../images/backgrounds/1@L.jpg");
	}

	@media screen and (min-width: 751px) and (max-width: 1100px) {
		background-image: url("../images/backgrounds/1@M.jpg");
		background-position: 45% center;
	}

	@media screen and (max-width: 767px) {
		background-image: url("../images/backgrounds/1-small.jpg");
	}

	h1 {
		color: $color-3;
		float: right;
		font-size: 100px;
		line-height: 1.5;
		margin-top: 20vh;
		text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
		width: 45%;
		@media screen and (max-width: 1100px) {
			font-size: 70px;
		}
		@media screen and (max-width: 767px) {
			display: none;
		}
		span {
			display: block;
		}
	}
}

.hero__welcome {
	bottom: 25px;
	left: 50%;
	position: absolute;
	text-shadow: 1px 1px 2px #969696;
	transform: translateX(-50%) rotate(90deg);
	@include MQ(M) {
		bottom: 100px;
	}
	svg {
		animation: bounce 2s infinite;
		fill: $color-4;
    	filter: drop-shadow(0 0 3px rgba(0,0,0,0.5));
		height: 17px;
		width: 17px;
	}
}

@keyframes bounce {
	0%, 20%, 50%, 80%, 100% {
		transform: translateX(0);
	}
	40% {
		transform: translateX(-6px);
	}
	60% {
		transform: translateX(-4px);
	}
}
