@import 'externals/lightbox';

@import 'helpers/reset';
@import 'helpers/_layout';
@import 'helpers/_mixins';
@import 'helpers/_variables';

@import 'partials/about';
@import 'partials/contact';
@import 'partials/events';
@import 'partials/gallery';
@import 'partials/hero';
@import 'partials/navigation';
@import 'partials/panels';
@import 'partials/weddings';

*, *:after, *:before {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	background-color: $color-4;
	color: $color-1;
	font-family: $primary-font;
	font-size: 100%;
}

a {
	color: $color-3;
	text-decoration: none;
}

.main-content {
	height: 100%;
	position: relative;
	z-index: index($main-elements, main-content);
	h1 {
		font-family: $special-font;
		letter-spacing: 3px;
	}
}

.content {
	margin: 0 auto;
	max-width: 1000px;
	width: 90%;
	h3 {
		@include font-size(75px);
		font-weight: bold;
		line-height: 1;
		margin-bottom: 30px;
		text-align: left;
		span {
			display: block;
			letter-spacing: 5px;
			text-transform: uppercase;
		}
		@media screen and (max-width: $M) {
			@include font-size(50px);
		}
	}
	h4 {
		@include font-size(35px);
	}
}

.content--column {
	column-count: 2;
	column-width: 250px;
	column-gap: 2em;
	column-rule: 1px dotted #ddd;
	column-fill: auto;
}

footer {
	background-color: darken($color-1, 10%);
	padding: 20px;
	text-align: center;
	div,p {
		color: $color-2;
		line-height: 1.5;
		text-align: center;
	}
	div {
		&, a {
			color: $color-1;
		}
	}
	a {
		color: $color-3;
		text-decoration: none;
		&:hover {
			text-decoration: underline;
		}
	}
	span {
		white-space: nowrap;
	}
}
