@import 'externals/lightbox';

@import 'helpers/reset';
@import 'helpers/_layout';
@import 'helpers/_mixins';
@import 'helpers/_variables';

@import 'partials/navigation';
@import 'partials/panels';
@import 'partials/rsvp';

*, *:after, *:before {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	background-color: $color-4;
	color: $color-1;
	font-family: $primary-font;
	font-size: 100%;
}

a {
	color: $color-3;
	text-decoration: none;
}

.main-content {
	height: 100%;
	position: relative;
	z-index: index($main-elements, main-content);
	h1 {
		font-family: $special-font;
		letter-spacing: 3px;
	}
}

.content {
	margin: 0 auto;
	max-width: 1000px;
	width: 90%;
	h3 {
		@include font-size(75px);
		font-weight: bold;
		line-height: 1;
		margin-bottom: 30px;
		text-align: left;
		span {
			display: block;
			letter-spacing: 5px;
			text-transform: uppercase;
		}
		@media screen and (max-width: $M) {
			@include font-size(50px);
		}
	}
	h4 {
		@include font-size(35px);
	}
}

.content__column {
    display: inline-block;
    text-align: right;
    vertical-align: top;
    width: 48%;
    p {
    	margin-bottom: 10px;
    }
    span {
    	display: block;
    	font-style: italic;
    }
    img {
    	border-radius: 10px;
    	box-shadow: 2px 2px 6px rgba(0,0,0,0.3);
    	width: 100%;
    }
}
.content__column--left {
	margin-right: 4%;
	text-align: left;
}

.hero__subtitle {
	display: none;
}

.hero h1 {
	color: white;
    float: right;
    font-size: 100px;
    line-height: 1.5;
    margin-top: 20vh;
	text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
	width: 45%;
	@media screen and (max-width: 1100px) {
		font-size: 70px;
	}
	@media screen and (max-width: 767px) {
		display: none;
	}
	span {
		display: block;
	}
}

.hero {
	background-repeat: no-repeat;
	width: 100%;
	
	@media screen and (min-width: 751px) and (max-width: 1100px) {
		background-position: 45% center;
	}

	@media screen and (max-width: 767px) {
		background-image: url("../images/backgrounds/1-small.jpg");
	}
}

#map {
    height: 480px;
    margin: 40px 0;
    width: 100%;
    @media screen and (max-width: 450px) {
		height: 250px;
    }
}

.content--column {
	column-count: 2;
	column-width: 250px;
	column-gap: 2em;
	column-rule: 1px dotted #ddd;
	column-fill: auto;
}

.location {
	img {
		border-radius: 10px;
		float: left;
		margin: 20px 0 0 20px;
		width: 90%;	
	}
	span {
		font-weight: bold;
	}
}


.about {
	p {
		margin-bottom: 10px;
	}
	span {
		font-style: italic;		
	}
}

.about__intro {
	font-style: italic;
	margin-bottom: 2em;
	img {
		border-radius: 100%;
		float: left;
		margin: 0 20px 0 0;
		width: 150px;
		@include MQ(M) {
			width: 200px;
		}
	}
}

.about__toggle {
	display: none;
	&:checked + .about__more {
		max-height: 1000px;
	}
	&:checked ~ .about__trigger {
		.about__trigger--more {
			display: none;
		}
		.about__trigger--less {
			display: inline-block;
		}
		&:after {
			transform: rotate(270deg);
		}
	}
}

.about__more {
	max-height: 0;
	overflow: hidden;
	transition: max-height 1s;
}

.about__trigger {
	cursor: pointer;
	float: right;
	&:hover {
		color: $color-3;
	}
	&:after {
		background: url("../images/icon-arrow.svg") no-repeat center center;
		background-size: 18px 18px;
		content: '';
		display: inline-block;
		height: 15px;
		margin-left: 5px;
		transition: transform 1s;
		transform: rotate(90deg);
		vertical-align: middle;
		width: 15px;
	}
	span {
		font-style: normal;
	}
}
.about__trigger--less {
	display: none;
}

.panel__fixed span {
	display: block;
	font-family: $special-font;	
}

.matrimoni__servizi {
	margin-top: 2em; 
	text-align: center;
	& > div {
		display: inline-block;
		margin: 0.5em;
		text-align: left;
    	width: 350px;
    	@media screen and (min-width: 550px) {
    		max-width: 400px;
			width: 45%;
    	}
	}
	.matrimoni__icon {
		background-color: $color-1;
		border: 1px solid;
	    border-radius: 100%;
	    height: 60px;
	    width: 60px;
	    padding: 10px 0 5px;
	    text-align: center;
	}
	svg {
		height: 35px;
		width: 35px;
		fill: $color-2;
	}
	.matrimoni__icon,
	span {
		display: inline-block;
		vertical-align: middle;
	}
	span {
		font-weight: bold;
		margin-left: 15px;
	}

	
}


.gallery section {
	div {
		display: inline-block;
		width: 20%;
		vertical-align: top;
	}
	img {
		display: block;
		width: 100%;
	}
}


.contact__info,
.contact__form {
	display: inline-block;
	vertical-align: top;
	width: 100%;
	@media screen and (min-width: 550px) {
		width: 50%;	
	}
}
.contact__form {
	margin: 30px auto;
	overflow: hidden;
}

.contact__info {
	span {
		font-weight: bold;
	}
}


#map .title {
	color: $color-1;
	font-family: $special-font;
	font-size: 15px;
}